@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600&subset=latin-ext");
* {
    box-sizing: border-box;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;


}
.popup-inner {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 800px;
    max-height: 600px;
    width: 60%;
    height: 80%;
    background-color: #fff;
}
.popup__photo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
    height: 100%;
    overflow: hidden;
}
.popup__photo img {
    width: auto;
    height: 100%;
}
.popup__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 4rem;
}
.popup__text h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #0A0A0A;
}
.popup__text p {
    font-size: .875rem;
    color: #686868;
    line-height: 1.5;
}

.popup__close {

}
